<div class="container m-5 align-center">
    <h2>LIST OF BUS</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>BUS ID</th>
                <th>BUS IMAGE</th>
                <th>TRAVELS NAME</th>
                <th>FROM CITY</th>
                <th>TO CITY</th>
                <th>TICKET COST</th>
                <th>TOTAL SEATS</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bus of allBus">
                <td>{{ bus.id }}</td>
                <td><img [src]="bus.busImageUrl[0]" height="80" width="100"></td>
                <td>{{ bus.busName }}</td>
                <td>
                    <span *ngFor="let city of allCities">
                        <span *ngIf="city.id==bus.busFromId">{{ city.cityName }}</span>
                    </span>
                </td>
                <td>
                    <span *ngFor="let city of allCities">
                        <span *ngIf="city.id==bus.busToId">{{ city.cityName }}</span>
                    </span>
                </td>
                <td>Rs. {{ bus.busTicketFare }}</td>
                <td>{{ bus.busTotalSeats }}</td>
                <td><button class="btn btn-warning" (click)="gotoBusRoute(bus.id)">View Routes</button></td>
            </tr>
        </tbody>
    </table>
</div>
